
h1{
    background-color: aquamarine;
    text-align: center;
    
}
li{
    display: flexbox;
    
}
img{
    border-radius: 50%;
    width: 30%;
    background-size: contain;

}

nav{
    
    background-color: yellow;
    padding: 15px;
    
    

}
h1{
    border-color: black;
    
}
